@{
    ViewData["Title"] = "Library 2.0";
}
@model BooksViewModel
<div>
    <h1 class="display-4">Here Are Books</h1>
    @foreach (Book b in Model.Books)
            {
                <partial name="BookSummary" model="b" />
            }
</div>
<div pg-mdl="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-classes-enables="true" class="btn-group pull-right m-1"></div>
